.table {
  margin-bottom: 20px;
  border-collapse: collapse;
  border: solid 1px #69c;
}
.table .topheader {
  background: #ff8e8e;
  color: #ffffff;
}
.table .topheader th {
  width: 120px;
}
.table .sideheader {
  width: 100px;
  background: #8cb3cb;
  color: #ffffff;
}
.table th, .table td {
  padding: 5px;
  text-align: center;
  border: solid 1px #69c;
}
.tableColor {
  background: #87c3e8;
  color: #ffffff;
}
.up {
  color: #f63;
  font-weight: bold;
}
.down {
  color: #69c;
  font-size: 18px;
}