.traning {
  margin: 10px 0 20px;
  padding-bottom: 10px;
  background: #f3fbff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px gray;
}
.heading {
  padding: 5px;
  text-align: center;
  color: #ffffff;
  background: #439bd2;
  border-radius: 5px 5px 0 0;
}
.traning li a:hover {
  color: #ffffff;
  background: #439bd2;
  border-bottom: none;
}