.library {
  margin-bottom: 20px;
  padding-bottom: 10px;
  background: #fff3f3;
  border-radius: 10px;
  box-shadow: 2px 2px 4px gray;
}
.heading {
  padding: 5px;
  text-align: center;
  color: #ffffff;
  background: #ef5b5b;
  border-radius: 10px 10px 0 0;
}
.library li a:hover {
  color: #ffffff;
  background: #ef5b5b;
  border-bottom: none;
}