.search {
  margin-top: 15px;
}
.search div {
  padding: 15px 0 10px;
  border-bottom: dashed 1px #b3d7ed;
}
.search div:nth-of-type(1) {
  padding-top: 0;
}
.search div:nth-of-type(3) {
  border-bottom: none;
}
.search div ul li {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  font-size: 14px;
  color: #69c;
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #c0c0c0;
}
.table {
  margin: 15px auto;
  border-collapse: collapse;
  font-size: 14px;
}
.table th {
  padding: 5px 0;
  color: #ffffff;
  background: #87c3e8;
  border: solid 1px #69c;
}
.table td {
  padding: 3px 5px;
  text-align: center;
  border: solid 1px #69c;
}
.tableColor {
  background: #87c3e8;
  color: #ffffff;
}

.name {
  width: 20%;
}
.type, .classifying, .power, .dai, .hit, .pp, .direct, .defence {
  width: 10%;
}
.skillType span {
  padding: 4px 7px;
  font-size: 12px;
  border-radius: 3px;
}