* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 16px;
  background: #f5f5f5;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 17px;
}
p {
  font-size: 15px;
}
a {
  color: #6495ed;
  text-decoration: underline;
}
a:hover {
  color: #ff69b4;
}